In [ ]:
"""
When a bank receives a loan application, 
based on the applicant’s profile the bank has to make a decision 
regarding whether to go ahead with the loan approval or not. 
Two types of risks are associated with the bank’s decision.

If the applicant is a good credit risk, i.e. is likely to repay the loan, 
then not approving the loan to the person results in a loss of business to the bank.

If the applicant is a bad credit risk, i.e. is not likely to repay the loan, 
then approving the loan to the person results in a financial loss to the bank.

The predictors that may potentially have any influence on Creditability:

Account Balance: 
    No account (1), 
    None (No balance) (2), 
    Below 200 DM (3),
    200 DM or Above (4)

Payment Status: 
    0 : Delayed
    1 : Other Credits, 
    2 : Paid Up,
    3 : No Problem with Current Credits,
    4 : Previous Credits Paid

Savings/Stock Value: 
    None, 
    Below 100 DM, 
    [100, 1000] DM, 
    Above 1000 DM

Employment Length: 
    Below 1 year (including unemployed), 
    [1, 4), 
    [4, 7), 
    Above 7

Sex/Marital Status: 
    Male Divorced/Single, 
    Male Married/Widowed, 
    Female 

No of Credits at this bank: 1, More than 1

Guarantor: None, Yes

Concurrent Credits: Other Banks or Dept Stores, None

ForeignWorker variable may be dropped from the study

Purpose of Credit: New car, Used car, Home Related

"""

In [8]:
#importing pandas and reading the file directly
import pandas as pd
dataset = pd.read_csv('german.csv', sep = ';')
dataset.head()

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,...,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account_Balance                    1000 non-null   int64
 2   Duration_of_Credit_monthly         1000 non-null   int64
 3   Payment_Status_of_Previous_Credit  1000 non-null   int64
 4   Purpose                            1000 non-null   int64
 5   Credit_Amount                      1000 non-null   int64
 6   Value_Savings_Stocks               1000 non-null   int64
 7   Length_of_current_employment       1000 non-null   int64
 8   Instalment_per_cent                1000 non-null   int64
 9   Sex_Marital_Status                 1000 non-null   int64
 10  Guarantors                         1000 non-null   int64
 11  Duration_in_Current_address        1000 non-null   int64
 12  Most_valuable_available_asset      1000 non-null   int64
 13  Age_years                          1000 non-null   int64
 14  Concurrent_Credits                 1000 non-null   int64
 15  Type_of_apartment                  1000 non-null   int64
 16  No_of_Credits_at_this_Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   int64
 18  No_of_dependents                   1000 non-null   int64
 19  Telephone                          1000 non-null   int64
 20  Foreign_Worker                     1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [16]:
dataset = dataset.replace(
    {'Account_Balance' : {
        1 : 'No Account', 2 : 'None',3: 'Below 200 DM',4:'200 DM or Above'}
    }
)

In [17]:
dataset.Account_Balance.value_counts()

200 DM or Above    394
No Account         274
None               269
Below 200 DM        63
Name: Account_Balance, dtype: int64

In [18]:
dataset = dataset.replace(
    {'Payment_Status_of_Previous_Credit' : {
        0:'Delayed',1 : 'Other Credits', 2 : 'Paid Up',
        3: 'No Problem with Current Credits',
        4:'Previous Credits Paid'}
    }
)

In [19]:
dataset.Payment_Status_of_Previous_Credit.value_counts()

Paid Up                            530
Previous Credits Paid              293
No Problem with Current Credits     88
Other Credits                       49
Delayed                             40
Name: Payment_Status_of_Previous_Credit, dtype: int64

In [20]:
dataset = dataset.replace(
    {'Value_Savings_Stocks' : {
        1 : 'None', 
        2 : 'Below 100 DM',
        3: '[100, 500)',
        4:'[500, 1000)',
        5:'Above 1000'}
    }
)

In [21]:
dataset.Value_Savings_Stocks.value_counts()

None            603
Above 1000      183
Below 100 DM    103
[100, 500)       63
[500, 1000)      48
Name: Value_Savings_Stocks, dtype: int64

In [23]:
dataset = dataset.replace(
    {'Length_of_current_employment' : {
        1 : 'Unemployed', 
        2 : '<1 Year',
        3 : '[1, 4)',
        4 :'[4, 7)',
        5 :'Above 7'}
    }
)

In [24]:
dataset.Length_of_current_employment.value_counts()

[1, 4)        339
Above 7       253
[4, 7)        174
<1 Year       172
Unemployed     62
Name: Length_of_current_employment, dtype: int64

In [25]:
dataset = dataset.replace(
    {'Instalment_per_cent' : {
        1 : 'Above 35%', 
        2 : '(25%, 35%)',
        3: '[20%, 25%)',
        4:'Below 20%'}
    }
)

In [27]:
dataset.Instalment_per_cent.value_counts()

Below 20%     476
(25%, 35%)    231
[20%, 25%)    157
Above 35%     136
Name: Instalment_per_cent, dtype: int64

In [28]:
dataset = dataset.replace(
    {'Occupation' : {
        1 : 'Unemployed, unskilled', 
        2 : 'Unskilled Permanent Resident',
        3: 'Skilled',
        4:'Executive'}
    }
)

In [29]:
dataset.Occupation.value_counts()

Skilled                         630
Unskilled Permanent Resident    200
Executive                       148
Unemployed, unskilled            22
Name: Occupation, dtype: int64

In [30]:
dataset = dataset.replace(
    {'Sex_Marital_Status' : {
        1 : 'Male, Divorced', 
        2 : 'Male, Single',
        3: 'Male, Married/Widowed',
        4: 'Female'}
    }
)

In [31]:
dataset.Sex_Marital_Status.value_counts()

Male, Married/Widowed    548
Male, Single             310
Female                    92
Male, Divorced            50
Name: Sex_Marital_Status, dtype: int64

In [32]:
dataset = dataset.replace(
    {'Duration_in_Current_address' : {
        1 : '<1 Year', 
        2 : '[1, 4)',
        3: '[4, 7)',
        4:'Above 7'}
    }
)

In [33]:
dataset.Duration_in_Current_address.value_counts()

Above 7    413
[1, 4)     308
[4, 7)     149
<1 Year    130
Name: Duration_in_Current_address, dtype: int64

In [34]:
dataset = dataset.replace(
    {'Type_of_apartment' : {
        1 : 'Free',
        2 : 'Rented',
        3: 'Owned'}
    }
)

In [35]:
dataset.Type_of_apartment.value_counts()

Rented    714
Free      179
Owned     107
Name: Type_of_apartment, dtype: int64

In [36]:
dataset = dataset.replace(
    {'Most_valuable_available_asset' : {
        1 : 'None',
        2 : 'Car',
        3: 'Life Insurance',
        4:'Real Estate'}
    }
)
dataset.Most_valuable_available_asset.value_counts()

Life Insurance    332
None              282
Car               232
Real Estate       154
Name: Most_valuable_available_asset, dtype: int64

In [42]:
dataset = dataset.replace(
    {'No_of_Credits_at_this_Bank' : {
        1 : '1',
        2 : '2 or 3',
        3: '4 or 5',
        4:'Above 6'}
    }
)

In [43]:
dataset.No_of_Credits_at_this_Bank.value_counts()

1          633
2 or 3     333
4 or 5      28
Above 6      6
Name: No_of_Credits_at_this_Bank, dtype: int64

In [45]:
dataset = dataset.replace(
    {'Guarantors' : {
        1 : 'None',
        2 : 'Co-applicant',
        3: 'Guarantor'}
    }
)
dataset.Guarantors.value_counts()

None            907
Guarantor        52
Co-applicant     41
Name: Guarantors, dtype: int64

In [47]:
dataset = dataset.replace(
    {'Concurrent_Credits' : {
        1 : 'Other Banks', 
        2 : 'Dept. Store',
        3: 'None'}
    }
)
dataset.Concurrent_Credits.value_counts()

None           814
Other Banks    139
Dept. Store     47
Name: Concurrent_Credits, dtype: int64

In [48]:
dataset = dataset.replace(
    {'No_of_dependents' : {
        1 : '3 or More',
        2 : 'Less than 3'}
    }
)
dataset.No_of_dependents.value_counts()

3 or More      845
Less than 3    155
Name: No_of_dependents, dtype: int64

In [56]:
dataset = dataset.replace(
    {'Telephone' : {
        1 : 'No',
        2 : 'Yes'}
    }
)
dataset.Telephone.value_counts()

No     596
Yes    404
Name: Telephone, dtype: int64

In [59]:
dataset = dataset.replace(
    {'Foreign_Worker' : {
        1 : 'No', 
        2 : 'Yes'}
    }
)
dataset.Foreign_Worker.value_counts()

No     963
Yes     37
Name: Foreign_Worker, dtype: int64

In [58]:
dataset = dataset.replace(
    {'Purpose' : {
        0:'Other',
        1 : 'New Car', 
        2 : 'Used Car',
        3:'Furniture',
        4:'Radio/TV',
        5:'Appliances',
        6:'Repair',
        8:'Vacation',
        9:'Retraining',
        10:'Business'}
    }
)
dataset.Purpose.value_counts()

Furniture     280
Other         234
Used Car      181
New Car       103
Retraining     97
Repair         50
Appliances     22
Business       12
Radio/TV       12
Vacation        9
Name: Purpose, dtype: int64

In [60]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account_Balance                    1000 non-null   object
 2   Duration_of_Credit_monthly         1000 non-null   int64
 3   Payment_Status_of_Previous_Credit  1000 non-null   object
 4   Purpose                            1000 non-null   object
 5   Credit_Amount                      1000 non-null   int64
 6   Value_Savings_Stocks               1000 non-null   object
 7   Length_of_current_employment       1000 non-null   object
 8   Instalment_per_cent                1000 non-null   object
 9   Sex_Marital_Status                 1000 non-null   object
 10  Guarantors                         1000 non-null   object
 11  Duration_in_Current_address        1000 non-null   object
 12  Most_valuable_available_asset      1000 non-null   object
 13  Age_years                          1000 non-null   int64
 14  Concurrent_Credits                 1000 non-null   object
 15  Type_of_apartment                  1000 non-null   object
 16  No_of_Credits_at_this_Bank         1000 non-null   object
 17  Occupation                         1000 non-null   object
 18  No_of_dependents                   1000 non-null   object
 19  Telephone                          1000 non-null   object
 20  Foreign_Worker                     1000 non-null   object
dtypes: int64(4), object(17)
memory usage: 164.2+ KB

In [61]:
# dataset.to_csv('dataset_for_eda.csv')